openapi: 3.2.0
info:
  title: Data Interactions API
  version: 1.0.0
servers:
- url: https://api.moveworks.ai/export/v1/records
  description: US PROD server. If you are located in the US region please use this server URL
- url: https://api.am-eu-central.moveworks.ai/export/v1/records
  description: EU PROD server. If you are located in the EU region please use this server URL
- url: https://api.am-ca-central.moveworks.ai/export/v1/records
  description: CA PROD server. If you are located in the CA region please use this server URL
- url: https://api.moveworksgov.ai/export/v1/records
  description: Govcloud PROD server. If you are on GovCloud infrastrucutre (US region) please use this server URL
- url: https://api.jp.moveworks.com/export/v1/records
  description: Japan production server
- url: https://api.uk.moveworks.com/export/v1/records
  description: UK production server
- url: https://api.prod4.us.moveworks.com/export/v1/records
  description: US Prod 4 production server
- url: https://api.prod3.us.moveworks.com/export/v1/records
  description: US Prod 3 production server
tags:
- name: Interactions
paths:
  /interactions:
    get:
      operationId: list-interactions
      summary: List interactions
      description: Retrieve all interactions occurring with the Moveworks AI Assistant.
      tags:
      - Interactions
      parameters:
      - name: $filter
        in: query
        description: This option allows the client to filter the resource that is address by request URL
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: This option allow the client to request a limited set of properties of an entity
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: This option allow the client to request resources in either ascending or descending order
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: This option request the number of items to be included in the result
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: This query option requests the number of items in the queried collection that are to be skipped and not included in the result.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: This option allows clients to request a count of the matching resources included with the resources in the result
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved list of interactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interactions'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
        '404':
          description: URL not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404ErrorResponse'
        '429':
          description: Rate limiting exceeding error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500ErrorResponse'
components:
  schemas:
    404ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 404ErrorResponse
    interactions:
      type: object
      properties:
        '@odata.context':
          type: string
          description: URL to the metadata of the response.
        '@odata.nextLink':
          type: string
          description: URL to fetch the next set of results.
        value:
          type: array
          items:
            $ref: '#/components/schemas/interactionsobject'
      title: interactions
    InteractionsobjectDetail:
      type: object
      properties:
        content:
          type: string
          description: This field contains the free form text, link URL, Button name according to interaction type.
        domain:
          type: string
          description: This the interaction level detected domain. Domain is only predicted for free form text interaction type. In some cases, domain of individual utterances may differ from the primary domain detected per conversation.
        entity:
          type: string
          description: This field contains the topic as detected per each interaction. Topic is only predicted for free form text interaction type.
        type:
          type: string
          description: This field indicates which type of resource were accessed during an link click interaction.
        detail:
          type: string
          description: This field indicates the form name which was submitted
        resource_id:
          type: string
          description: 'This field provides the resource ID that was accessed by the end user during an link click interaction, or when a user submits a ticket via UI form

            INTERACTION_TYPE_LINK_CLICK

            INTERACTION_TYPE_UIFORM_SUBMISSION'
        file_types:
          type: array
          items:
            type: string
          description: This field provides list of types of files that were uploaded during a file upload interaction (INTERACTION_TYPE_CONTENT_UPLOAD). We do not record the file names as user can also upload a private file
      description: This is a JSON object which contains metadata per interaction type.
      title: InteractionsobjectDetail
    429ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 429ErrorResponse
    400ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 400ErrorResponse
    interactionsobject:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID assigned by a system to a interaction. An interaction is either an input from a user to the system, or a response from the system the the user.
        conversation_id:
          type: string
          format: uuid
          description: ID of the parent conversation.
        user_id:
          type: string
          format: uuid
          description: User record ID assigned by the system to a user.
        actor:
          type: string
          description: This field differentiates user v/s bot interactions.
        platform:
          type: string
          description: 'This field denotes the platform where the interaction took place. For example: slack, msteams.'
        type:
          type: string
          description: This field defines the type of the interaction.
        label:
          type: string
          description: This field defines the label for UI form submission interaction type.
        parent_interaction_id:
          type: string
          format: uuid
          description: Parent interaction ID for bot messages and user actions such as form submissions/button clicks/link clicks
        detail:
          $ref: '#/components/schemas/InteractionsobjectDetail'
          description: This is a JSON object which contains metadata per interaction type.
        created_time:
          type: string
          format: date-time
          description: Timestamp when the interaction was initiated.
        last_updated_time:
          type: string
          format: date-time
          description: Timestamp when the interaction entry is last updated in this table.
      title: interactionsobject
    500ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 500ErrorResponse
    403ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 403ErrorResponse
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    OAuth2:
      type: http
      scheme: bearer
