openapi: 3.2.0
info:
  title: Events Authentication API
  version: 1.0.0
servers:
- url: https://api.moveworks.ai
  description: https://api.moveworks.ai
- url: https://api-demo.moveworks.ai
  description: https://api-demo.moveworks.ai
- url: https://api.am-eu-central.moveworks.ai
  description: https://api.am-eu-central.moveworks.ai
- url: https://api.am-ca-central.moveworks.ai
  description: https://api.am-ca-central.moveworks.ai
- url: https://api.moveworksgov.ai
  description: https://api.moveworksgov.ai
- url: https://api.jp.moveworks.com
  description: https://api.jp.moveworks.com
- url: https://api.uk.moveworks.com
  description: https://api.uk.moveworks.com
- url: https://api.prod4.us.moveworks.com
  description: https://api.prod4.us.moveworks.com
- url: https://api.prod3.us.moveworks.com
  description: https://api.prod3.us.moveworks.com
tags:
- name: Authentication
paths:
  /oauth/v1/token:
    post:
      operationId: create-o-auth-token
      summary: Create an OAuth token
      description: Generate an Access Token using OAuth 2.0 Client Credentials for authentication in subsequent API calls to other endpoints. See Credentials Management - OAuth 2.0 Client for more info.
      tags:
      - Authentication
      responses:
        '200':
          description: Token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthTokenGenerated'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOAuthTokenRequestBadRequestError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthInvalidClient'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRateLimitExceeded'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthTokenRequest'
  /rest/v1/auth/test:
    get:
      operationId: test-auth
      summary: Test API Key
      tags:
      - Authentication
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully tested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSuccessful'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAuthentication'
components:
  schemas:
    OauthInvalidClient:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthInvalidClient
    ErrorAuthentication:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorAuthentication
    OauthTokenRequest:
      type: object
      properties:
        client_id:
          type: string
          description: The client's unique identifier; acquired during the creation of credentials in Events Workspace.
        client_secret:
          type: string
          description: The client's secret key; acquired during the creation of credentials in Events Workspace.
        grant_type:
          type: string
          description: Specifies the type of grant being used for the token request. This should be set to \"client_credentials\".
      required:
      - client_id
      - client_secret
      - grant_type
      title: OauthTokenRequest
    OauthTokenGeneratedData:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
      title: OauthTokenGeneratedData
    OauthUnsupportedGrantType:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthUnsupportedGrantType
    OauthInvalidRequest:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthInvalidRequest
    ErrorRateLimitExceeded:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorRateLimitExceeded
    InternalServerError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: InternalServerError
    AuthSuccessful:
      type: object
      properties:
        Message:
          type: string
      title: AuthSuccessful
    OauthTokenGenerated:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OauthTokenGeneratedData'
      title: OauthTokenGenerated
    CreateOAuthTokenRequestBadRequestError:
      oneOf:
      - $ref: '#/components/schemas/OauthInvalidRequest'
      - $ref: '#/components/schemas/OauthUnsupportedGrantType'
      title: CreateOAuthTokenRequestBadRequestError
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
