openapi: 3.2.0
info:
  title: Events API
  version: 1.0.0
servers:
- url: https://api.moveworks.ai
  description: https://api.moveworks.ai
- url: https://api-demo.moveworks.ai
  description: https://api-demo.moveworks.ai
- url: https://api.am-eu-central.moveworks.ai
  description: https://api.am-eu-central.moveworks.ai
- url: https://api.am-ca-central.moveworks.ai
  description: https://api.am-ca-central.moveworks.ai
- url: https://api.moveworksgov.ai
  description: https://api.moveworksgov.ai
- url: https://api.jp.moveworks.com
  description: https://api.jp.moveworks.com
- url: https://api.uk.moveworks.com
  description: https://api.uk.moveworks.com
- url: https://api.prod4.us.moveworks.com
  description: https://api.prod4.us.moveworks.com
- url: https://api.prod3.us.moveworks.com
  description: https://api.prod3.us.moveworks.com
tags:
- name: Events
paths:
  /rest/v1/events/{event_id}/messages/send:
    post:
      operationId: send-message-for-event
      summary: Send a message for an event
      description: Send a message to a list of recipients for an event. The event must be defined in the Events Workspace.
      tags:
      - Events
      parameters:
      - name: event_id
        in: path
        description: ID of the event to notify for
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageScheduled'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageForEventRequestUnauthorizedError'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAuthorization'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageForEventRequestNotFoundError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRateLimitExceeded'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageForEventRequest'
components:
  schemas:
    SendMessageForEventRequestContext:
      type: object
      properties:
        slots:
          $ref: '#/components/schemas/SendMessageForEventRequestContextSlots'
          description: Contextual slots
      description: Additional contextual data
      title: SendMessageForEventRequestContext
    MessageScheduledDataStatus:
      type: string
      enum:
      - RECEIVED
      title: MessageScheduledDataStatus
    OauthErrorAuthenticationInvalidToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationInvalidToken
    ErrorAuthorization:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorAuthorization
    OauthErrorAuthenticationExpiredToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationExpiredToken
    MessageScheduledData:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/MessageScheduledDataStatus'
      title: MessageScheduledData
    MessageScheduled:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MessageScheduledData'
      title: MessageScheduled
    SendMessageForEventRequestUnauthorizedError:
      oneOf:
      - $ref: '#/components/schemas/ErrorAuthentication'
      - $ref: '#/components/schemas/OauthErrorAuthenticationInvalidToken'
      - $ref: '#/components/schemas/OauthErrorAuthenticationExpiredToken'
      title: SendMessageForEventRequestUnauthorizedError
    SendMessageForEventRequestNotFoundError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: SendMessageForEventRequestNotFoundError
    ErrorRateLimitExceeded:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorRateLimitExceeded
    SendMessageForEventRequest:
      type: object
      properties:
        message:
          type: string
          description: Message to be sent, formatted in Moveworks' version of HTML. Moveworks attempts to shorten valid links to fit within chat platform constraints. Consult your chat platform API documentation to understand actual character limits.
        recipients:
          type: array
          items:
            type: string
          description: Email addresses of the employees to send the message to
        context:
          $ref: '#/components/schemas/SendMessageForEventRequestContext'
          description: Additional contextual data
      required:
      - message
      - recipients
      title: SendMessageForEventRequest
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorBadRequest
    SendMessageForEventRequestContextSlots:
      type: object
      properties: {}
      description: Contextual slots
      title: SendMessageForEventRequestContextSlots
    ErrorAuthentication:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorAuthentication
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
