openapi: 3.1.0
info:
  title: (Beta) Conversations authentication deprecated API
  version: 1.0.0
servers:
- url: https://api.moveworks.ai/rest/v1beta1
  description: US production server
- url: https://api.jp.moveworks.com/rest/v1beta1
  description: Japan production server
- url: https://api.uk.moveworks.com/rest/v1beta1
  description: UK production server
- url: https://api.prod4.us.moveworks.com/rest/v1beta1
  description: US Prod 4 production server
- url: https://api.prod3.us.moveworks.com/rest/v1beta1
  description: US Prod 3 production server
tags:
- name: deprecated
paths:
  /rest/v1/messages/send:
    post:
      operationId: send-message
      summary: '[Deprecated] Send a message'
      description: 'Send a message to users. This endpoint is deprecated, but existing integrations will continue to work.

        '
      tags:
      - deprecated
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAuthentication'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageRequestForbiddenError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRateLimitExceeded'
      requestBody:
        description: Object containing all the data needed to send a message to a list of recipients
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
components:
  schemas:
    ErrorRateLimitExceeded:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorRateLimitExceeded
    SendMessageRequestForbiddenError:
      oneOf:
      - $ref: '#/components/schemas/ErrorAuthentication'
      - $ref: '#/components/schemas/OauthErrorAuthenticationInvalidToken'
      - $ref: '#/components/schemas/OauthErrorAuthenticationExpiredToken'
      title: SendMessageRequestForbiddenError
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorBadRequest
    ErrorAuthentication:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorAuthentication
    OauthErrorAuthenticationExpiredToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationExpiredToken
    OauthErrorAuthenticationInvalidToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationInvalidToken
    SendMessageRequest:
      type: object
      properties:
        message:
          type: string
          description: Message to be sent, formatted in Moveworks' version of HTML. Moveworks attempts to shorten valid links to fit within chat platform constraints. Consult your chat platform API documentation to understand actual character limits.
        recipients:
          type: array
          items:
            type: string
          description: Email addresses of the employees to send the message to
      required:
      - message
      - recipients
      title: SendMessageRequest
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token authentication. Obtain an access token from the Moveworks auth endpoint and include it in the Authorization header as 'Bearer <token>'.
