openapi: 3.2.0
info:
  title: Events Deprecated API
  version: 1.0.0
servers:
- url: https://api.moveworks.ai
  description: https://api.moveworks.ai
- url: https://api-demo.moveworks.ai
  description: https://api-demo.moveworks.ai
- url: https://api.am-eu-central.moveworks.ai
  description: https://api.am-eu-central.moveworks.ai
- url: https://api.am-ca-central.moveworks.ai
  description: https://api.am-ca-central.moveworks.ai
- url: https://api.moveworksgov.ai
  description: https://api.moveworksgov.ai
- url: https://api.jp.moveworks.com
  description: https://api.jp.moveworks.com
- url: https://api.uk.moveworks.com
  description: https://api.uk.moveworks.com
- url: https://api.prod4.us.moveworks.com
  description: https://api.prod4.us.moveworks.com
- url: https://api.prod3.us.moveworks.com
  description: https://api.prod3.us.moveworks.com
tags:
- name: deprecated
paths:
  /rest/v1/messages/send:
    post:
      operationId: send-message
      summary: '[Deprecated] Send a message'
      description: 'Send a message to users. This endpoint is deprecated, but existing integrations will continue to work.

        '
      tags:
      - deprecated
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAuthentication'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageRequestForbiddenError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRateLimitExceeded'
      requestBody:
        description: Object containing all the data needed to send a message to a list of recipients
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
components:
  schemas:
    OauthErrorAuthenticationExpiredToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationExpiredToken
    OauthErrorAuthenticationInvalidToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationInvalidToken
    ErrorRateLimitExceeded:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorRateLimitExceeded
    SendMessageRequestForbiddenError:
      oneOf:
      - $ref: '#/components/schemas/ErrorAuthentication'
      - $ref: '#/components/schemas/OauthErrorAuthenticationInvalidToken'
      - $ref: '#/components/schemas/OauthErrorAuthenticationExpiredToken'
      title: SendMessageRequestForbiddenError
    ErrorAuthentication:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorAuthentication
    SendMessageRequest:
      type: object
      properties:
        message:
          type: string
          description: Message to be sent, formatted in Moveworks' version of HTML. Moveworks attempts to shorten valid links to fit within chat platform constraints. Consult your chat platform API documentation to understand actual character limits.
        recipients:
          type: array
          items:
            type: string
          description: Email addresses of the employees to send the message to
      required:
      - message
      - recipients
      title: SendMessageRequest
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorBadRequest
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
