openapi: 3.1.0
info:
  title: (Beta) Conversations authentication events API
  version: 1.0.0
servers:
- url: https://api.moveworks.ai/rest/v1beta1
  description: US production server
- url: https://api.jp.moveworks.com/rest/v1beta1
  description: Japan production server
- url: https://api.uk.moveworks.com/rest/v1beta1
  description: UK production server
- url: https://api.prod4.us.moveworks.com/rest/v1beta1
  description: US Prod 4 production server
- url: https://api.prod3.us.moveworks.com/rest/v1beta1
  description: US Prod 3 production server
tags:
- name: events
paths:
  /rest/v1/events/{event_id}/messages/send:
    post:
      operationId: send-message-for-event
      summary: Send a message for an event
      description: 'Send a message to a list of recipients for an event. The event must be defined in the Events Workspace.

        '
      tags:
      - events
      parameters:
      - name: event_id
        in: path
        description: ID of the event to notify for
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageScheduled'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageForEventRequestUnauthorizedError'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAuthorization'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageForEventRequestNotFoundError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRateLimitExceeded'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageForEventRequest'
components:
  schemas:
    MessageScheduledData:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/MessageScheduledDataStatus'
      title: MessageScheduledData
    MessageScheduledDataStatus:
      type: string
      enum:
      - RECEIVED
      title: MessageScheduledDataStatus
    OauthErrorAuthenticationInvalidToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationInvalidToken
    ErrorRateLimitExceeded:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorRateLimitExceeded
    SendMessageForEventRequestContext:
      type: object
      properties:
        slots:
          $ref: '#/components/schemas/SendMessageForEventRequestContextSlots'
          description: Contextual slots
      description: Additional contextual data
      title: SendMessageForEventRequestContext
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorBadRequest
    SendMessageForEventRequestNotFoundError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: SendMessageForEventRequestNotFoundError
    MessageScheduled:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MessageScheduledData'
      title: MessageScheduled
    SendMessageForEventRequestUnauthorizedError:
      oneOf:
      - $ref: '#/components/schemas/ErrorAuthentication'
      - $ref: '#/components/schemas/OauthErrorAuthenticationInvalidToken'
      - $ref: '#/components/schemas/OauthErrorAuthenticationExpiredToken'
      title: SendMessageForEventRequestUnauthorizedError
    SendMessageForEventRequestContextSlots:
      type: object
      properties: {}
      description: Contextual slots
      title: SendMessageForEventRequestContextSlots
    OauthErrorAuthenticationExpiredToken:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: OauthErrorAuthenticationExpiredToken
    ErrorAuthentication:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorAuthentication
    SendMessageForEventRequest:
      type: object
      properties:
        message:
          type: string
          description: Message to be sent, formatted in Moveworks' version of HTML. Moveworks attempts to shorten valid links to fit within chat platform constraints. Consult your chat platform API documentation to understand actual character limits.
        recipients:
          type: array
          items:
            type: string
          description: Email addresses of the employees to send the message to
        context:
          $ref: '#/components/schemas/SendMessageForEventRequestContext'
          description: Additional contextual data
      required:
      - message
      - recipients
      title: SendMessageForEventRequest
    ErrorAuthorization:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: ErrorAuthorization
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT bearer token authentication. Obtain an access token from the Moveworks auth endpoint and include it in the Authorization header as 'Bearer <token>'.
