openapi: 3.2.0
info:
  title: Data Plugin Calls API
  version: 1.0.0
servers:
- url: https://api.moveworks.ai/export/v1/records
  description: US PROD server. If you are located in the US region please use this server URL
- url: https://api.am-eu-central.moveworks.ai/export/v1/records
  description: EU PROD server. If you are located in the EU region please use this server URL
- url: https://api.am-ca-central.moveworks.ai/export/v1/records
  description: CA PROD server. If you are located in the CA region please use this server URL
- url: https://api.moveworksgov.ai/export/v1/records
  description: Govcloud PROD server. If you are on GovCloud infrastrucutre (US region) please use this server URL
- url: https://api.jp.moveworks.com/export/v1/records
  description: Japan production server
- url: https://api.uk.moveworks.com/export/v1/records
  description: UK production server
- url: https://api.prod4.us.moveworks.com/export/v1/records
  description: US Prod 4 production server
- url: https://api.prod3.us.moveworks.com/export/v1/records
  description: US Prod 3 production server
tags:
- name: Plugin Calls
paths:
  /plugin-calls:
    get:
      operationId: list-plugins-calls
      summary: List plugins calls
      description: Retrieve all plugins that were called by the Moveworks AI Assistant during an interaction.
      tags:
      - Plugin Calls
      parameters:
      - name: $filter
        in: query
        description: This option allows the client to filter the resource that is address by request URL
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: This option allow the client to request a limited set of properties of an entity
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: This option allow the client to request resources in either ascending or descending order
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: This option request the number of items to be included in the result
        required: false
        schema:
          type: integer
      - name: $skip
        in: query
        description: This query option requests the number of items in the queried collection that are to be skipped and not included in the result.
        required: false
        schema:
          type: integer
      - name: $count
        in: query
        description: This option allows clients to request a count of the matching resources included with the resources in the result
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved list of plugins calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/plugincallslist'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400ErrorResponse'
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403ErrorResponse'
        '404':
          description: URL not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404ErrorResponse'
        '429':
          description: Rate limiting exceeding error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500ErrorResponse'
components:
  schemas:
    404ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 404ErrorResponse
    plugincallslist:
      type: object
      properties:
        '@odata.context':
          type: string
          description: URL to the metadata of the response.
        '@odata.nextLink':
          type: string
          description: URL to fetch the next set of results.
        value:
          type: array
          items:
            $ref: '#/components/schemas/plugincallsobject'
      title: plugincallslist
    429ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 429ErrorResponse
    400ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 400ErrorResponse
    500ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 500ErrorResponse
    plugincallsobject:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID assigned by the system to a plugin being called by AI Assistant for a interaction.
        interaction_id:
          type: string
          format: uuid
          description: ID of the interaction for which the plugin is called
        conversation_id:
          type: string
          format: uuid
          description: ID of the parent conversation.
        plugin_name:
          type: string
          description: Name of the plugin being called by the AI Assistant. This field will also contain custom plugin names for Agent Studio use-cases
        user_id:
          type: string
          format: uuid
          description: User record ID assigned by the system to a user.
        served:
          type: boolean
          description: This field denotes if the plugin was actually served to the end user
        used:
          type: boolean
          description: This field denotes if the plugin was used in the interaction. Action plugin are used only when they have completed the full workflow for an end users, search plugin will always be used if they are served
        plugin_update_time:
          type: string
          format: date-time
          description: This field denotes the time when the plugin was last updated. For example, Access software plugin can be updated at later point in time, once the approver has approved the software approval access.
        created_time:
          type: string
          format: date-time
          description: Timestamp when the plugin call was initiated.
        last_updated_time:
          type: string
          format: date-time
          description: Timestamp when the plugin call entry is last updated in this table
      title: plugincallsobject
    403ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      title: 403ErrorResponse
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    OAuth2:
      type: http
      scheme: bearer
